
.wrapper {

    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.3rem;

}

.wrapperSize {

    display: flex;
    flex-direction: row;
    padding: 0.3rem;

}


.sizeBtnSection {

    width: 100%;
    margin: 0.3rem;

   

}

.sizeBtnSection span {

  
    margin: 0.6rem;

   

}

.colorBtn {

    margin: 0.6rem;
}

.sizeBtn {

    padding: 0.6rem;
    border-radius: 0.2rem;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: rgb(59, 117, 117);
}