@font-face {

    font-family: "Poppins Regular";
    font-style: normal;
    font-weight: normal;
    src: local("Poppins-Regular"), url('./fonts/Poppins-Regular.ttf') format('truetype');
  
  }
  
  @font-face {
  
    font-family: "Poppins SemiBold";
    font-style: normal;
    font-weight: normal;
    src: local("Poppins-SemiBold"), url('./fonts/Poppins-SemiBold.ttf') format('truetype');
  
  }