.navBar {

    display: flex;
    min-width: 100%;
    padding: 1.55rem;
    background-color: #7743DB;

}

.logo {

    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size:  1.2rem;
    padding: 0.5rem;
    color: #ffff;
}