
:root{

  --bodyBackground: #F3F6F9;
  --contentContainerColor: #FFFF;
}

body {

  background-color: var(--bodyBackground);

}
.Sidebar-Container {
  width: 22.22%;
  width: 220px;
  height: 100vh;
  padding: 2.2rem;
  border-radius: 0.3rem;
  background-color: var(--contentContainerColor);
  
}
