@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




:root{

  --bodyBackground: #F3F6F9;
  --contentContainerColor: #FFFF;
  
}

body {

  background-color: var(--bodyBackground);

}

h4 {

  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;

}

 label, p {

  display: flex;
  gap: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.825rem;


 }